
#books {
    background: black;
    color: #7EF4F4;
    text-shadow: 0 0 5px rgba(21,171,195,0.7);
    font-family: 'Montserrat', sans-serif;
    /*text-shadow: -2px -1px 5px #1f4646;*/
}

#books .standout {
    background: #7EF4F4;
    border: 1px solid rgba(36,198,24,1.0);
}

#books h1 {
    color: black;
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 230, 230), 0 0 30px rgb(0, 230, 230), 0 0 40px rgb(0, 230, 230), 0 0 55px rgb(0, 230, 230), 0 0 75px rgb(0, 230, 230);
    */
}

#books p {
    text-align: center;
}

#books .standout p {
    color: black;
}

#books h3 {
    /*text-decoration: underline;*/
}

#books #book-currently-reading {
    border: 1px solid #7EF4F4;
    border-radius: 30px;
    box-shadow: 0 0 10px #7EF4F4;
}

#books a {
    color: #7EF4F4;
}

#books #book-recent-reviews {
    border: 1px solid #7EF4F4;
    border-radius: 30px;
    box-shadow: 0 0 10px #7EF4F4;
}
