mixin booksMany
    #books
        .container
            .top-20
                .standout
                    .header1
                        h1(style="text-align: center;") 
                            span.emoji 📚
                            span &nbsp;Reading&nbsp;
                            span.emoji 📖
                        p(style="text-align:center") Tim's recent books (Powered by GoodReads)
                    .top-20
            .break
            .top-20
            .currentlyReading
                .standout2
                        .header3
                            h3(style="text-align: center;")
                                | Currently Reading
                        .top-20
                #book-currently-reading
                    | <currentlyreading v-for="book in currentlyReading" :book="book"></currentlyreading>
            .top-20
            .recentReviews
                .standout2
                        .header3
                            h3(style="text-align: center;")
                                | Recent Reviews
                        .top-20
                #book-recent-reviews
                    | <recentreviews v-for="book in recentReviews" :book="book"></recentreviews>
            .top-20
