doctype html
html(lang="en")
    block head
        head
        title= "Tim's OKC"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.0")
        link(rel = 'stylesheet', href="/scripts/css/main.css")
        link(rel = 'stylesheet', href="https://fonts.googleapis.com/css?family=Orbitron&display=swap")
        link(rel = 'stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
        script(src="/scripts/js/ga.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
        script(src="/scripts/js/vue/start.js")

body(onload="start()")
    block content
