doctype html
html(lang="en")
    block head
        head
        title= "Tim's OKC"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(property="og:image" content="http://www.timsokc.com/images/TimsOKC/TimsOkc.gif")
        meta(property="og:title" content="Tims OKC")
        meta(property="og:type" content="webpage")
        meta(property="go:url" content="http://www.timsokc.com")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(rel = 'stylesheet', href="/scripts/css/main.css")
        link(rel = 'stylesheet', href="https://fonts.googleapis.com/css?family=Orbitron&display=swap")
        link(rel = 'stylesheet', href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
        script(src="/scripts/js/ga.js")

body
    block content
