mixin food2
    .purple
        .container
            .col-md-4
                style(background-image="/images/TimsOKC/carbonara.jpg")
            .col-md-4
                .container3.white
                    .row.third
                        .align-self-center
                            p Tim likes to cook food.
                    .row.third
                        .align-self-center
                            p The latest thing he cooked was #{foodName} on #{foodDate}
                    .row.third
                        .align-self-center
                            p You can find the recipe 
                                a(href=foodUrl) here!
            .col-md-4
            