mixin food
    div(class="parallax" + name)
        .container3.overlay
            .row.third
                .align-self-center.message
                    p Tim likes to cook food.
            .row.third
                .align-self-center.message
                    p The latest thing he cooked was #{foodName} on #{foodDate}
            .row.third
                .align-self-center.message
                    p You can find the recipe 
                        a(href=foodUrl) here!