extends default

include ./main.pug
include ./wip.pug
include ./footer.pug
include ./dyanmicParallax.pug
include ./food2.pug
include ./cooking.pug
include ./likes.pug

block append head
    +dyanmicParallax(name, url)

append content
    +main
    +cooking
    +wip
    +footer
    