extends default

include ./otgw.pug
include ./footer.pug
include ./dyanmicParallax.pug
include ./dynamicHome.pug


block append head
    +dyanmicParallax(name, url)
    +dynamicHome
    link(rel = 'stylesheet', href=`/scripts/css/otgw.css`)
    meta(property="og:type" content="webpage")
    meta(property="og:image" content="http://www.timsokc.com/images/TimsOKC/otgw2.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:title" content="Tims OKC: OTGW")
    meta(property="og:url" content="http://www.timsokc.com/otgw")
    meta(property="og:description" content="We're here to burgle your turts!")

append content
    +otgw
    +footer