extends default

include ./main.pug
include ./wip.pug
include ./footer.pug
include ./dyanmicParallax.pug
include ./food2.pug
include ./cooking.pug
include ./likes.pug
include ./dynamicHome.pug

include ./cookingMany.pug
include ./cookingCard.pug
include ./chess.pug
include ./booksMany.pug
include ./currentlyReading.pug
include ./recentReviews.pug

block append head
    +dyanmicParallax(name, url)
    +dynamicHome(backgroundImage)
    link(rel = 'stylesheet', href=`/scripts/css/goodreads${goodreadsCss}.css`)
    meta(property="og:image" content="http://www.timsokc.com/images/TimsOKC/TimsOkc.jpg")
    meta(property="og:image:type" content="image/jpeg")
    meta(property="og:title" content="Tims OKC")
    meta(property="og:type" content="webpage")
    meta(property="go:url" content="http://www.timsokc.com")
    //link(rel = 'stylesheet', href=`/scripts/css/goodreads3.css`)

append content
    +main
    //-+cooking
    +cookingMany
    //-+cookingCard
                //-+cookingCard(val)
    //-+likes
    //-+chess
    +booksMany
    +wip
    +footer

//-append cookingContent
    p test
    each val in cookingCards
        +cookingCard(val)