extends default

include ./main.pug
include ./wip.pug
include ./footer.pug
include ./dyanmicParallax.pug
include ./food2.pug
include ./cooking.pug
include ./likes.pug
include ./dynamicHome.pug

include ./cookingMany.pug
include ./cookingCard.pug
include ./cooking2.pug
include ./chess.pug
include ./booksMany.pug
//-include ./currentlyReading.pug
//-include ./recentReviews.pug

block append head
    +dyanmicParallax(name, url)
    +dynamicHome(backgroundImage)
    link(rel = 'stylesheet', href=`/scripts/css/goodreads${goodreadsCss}.css`)
    meta(property="og:image" content="http://www.timsokc.com/images/TimsOKC/TimsOkc.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:title" content="Tims OKC")
    meta(property="og:type" content="webpage")
    meta(property="go:url" content="http://www.timsokc.com")
    style(type='text/css').
        #background-inner {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100vh;
            vertical-align: top;
            background-color: rgba(0,0,0,#{backgroundOpacity});
            z-index: 1;
        }

    //link(rel = 'stylesheet', href=`/scripts/css/goodreads3.css`)

append content
    +main
    //-+cooking
    //-+cookingCardVue
    +cooking2
    //-+cookingMany
    //-+cookingCard
                //-+cookingCard(val)
    //-+likes
    //-+chess
    +booksMany
    +wip
    +footer

//-append cookingContent
    p test
    each val in cookingCards
        +cookingCard(val)