extends default

include ./main.pug
include ./wip.pug
include ./footer.pug
include ./dyanmicParallax.pug
include ./food2.pug
include ./cooking.pug
include ./likes.pug
include ./dynamicHome.pug

include ./cookingMany.pug
include ./cookingCard.pug

block append head
    +dyanmicParallax(name, url)
    +dynamicHome(backgroundImage)

append content
    +main
    //-+cooking
    +cookingMany
    //-+cookingCard
                //-+cookingCard(val)
    +wip
    +footer

//-append cookingContent
    p test
    each val in cookingCards
        +cookingCard(val)