extends default

include ./liminality.pug


block append head
    link(rel = 'stylesheet', href=`/scripts/css/main.css`)
    meta(property="og:type" content="webpage")
    meta(property="og:image" content="http://www.timsokc.com/images/TimsOKC/otgw3.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="268")
    meta(property="og:image:height" content="268")
    meta(property="og:title" content="Tims OKC: OTGW")
    meta(property="og:url" content="http://www.timsokc.com/otgw")
    meta(property="og:description" content="We're here to burgle your turts!")

append content
    +liminality
