mixin liminality
    style(type='text/css').
            .background2 {
                background-image: url('/images/TimsOKC/liminality/stairs1.jpeg');
                background-size: cover;
                background-position: center;
                max-width: 100vw;
                height: 33vh;
                padding:0;
                margin:0;
                display: flex;
                justify-content: center;
                transition: width 2s, height 1s;
            }
        .background-inner2 {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 33vh;
                vertical-align: top;
                background-color: rgba(0,0,0,#{backgroundOpacity});
                z-index: 1;
            }
        .logo2 {
            font-family: 'Orbitron', sans-serif;
            color: white;
            font-weight: 200;
            font-size: 7vw;
        }
        #liminality {
            color:white;
            scroll-behavior: smooth;
        }

        .grow {
            transition: height 1s;
            height: 100vh;
        }

        #liminality .hiddenMine {
            display: none;
        }

        #liminality .content {
            color: black;
        }

        #liminality .content {
            line-height: calc(1ex / 0.32);
        }

        .content p {
            display: block;
            font-size: 1em;
            line-height: calc(1ex / 0.32);
            margin: calc(1ex / 0.32) 0;
            max-width: 100%;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            max-width: 920px;
            justify-content: center;
        }

        .content q {
            display: block;
            font-size: 1em;
            line-height: calc(1ex / 0.32);
            margin: calc(1ex / 0.32) 0;
            max-width: 100%;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            max-width: 920px;
            justify-content: center;
            border-style: solid;
            border-width: 5px;
            padding: 20px;
        }

        .outerContent {
            display: flex;
            justify-content: center;
            background-color: rgba(27,27,47,100);
            color: rgba(160, 168, 255, 100);
            font-size: 18px;
        }

        .innerContent {
            display: flex;
            justify-content: center;
            vertical-align: top;
        }

        .fullBackground {
            background-image: url('/images/TimsOKC/liminality/stairs1.jpeg');
            background-size: cover;
            background-position: center;
            max-width: 100vw;
            height: 50vh;
            padding:0;
            margin:0;
            display: flex;
            justify-content: center;
            transition: width 2s, height 1s;
        }

        .fullBackground.car {
            background-image: url('/images/TimsOKC/liminality/cars.jpeg');
        }

        .fullBackground.laundromat {
            background-image: url('/images/TimsOKC/liminality/laundromat.png');
        }

        .fullBackground.house {
            background-image: url('/images/TimsOKC/liminality/house1.jpeg');
        }
        
        .fullBackground.church {
            background-image: url('/images/TimsOKC/liminality/church.jpeg');
        }

        #content {
            transition: width 2s, height 2s;
        }

        #content h2 {
            justify-content: center;
            text-decoration: underline;
            text-align: center;
        }

        .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

        .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

        .video-container-outer
        {
            max-width: 500px;
        }

        #content a:link {
            color: rgba(255, 246, 146, 100);
            text-decoration: underline;
        }

        #content a:visited {
            color: rgba(255, 246, 10, 100);
            text-decoration: underline;
        }

        .interrupt {
            height: 40vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 80vw;
        }

        #content h4 {
            text-align: center;
            font-size: 35px;
            padding: 10px;
            border-style: double;
            border-width: 5px;
            display: block;
            margin: calc(1ex / 0.32) 0;
            max-width: 100%;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            max-width: 920px;
            justify-content: center;
        }

    #liminality
        #background2.background2
            #background-inner2.background-inner2
                .align-self-center
                    .text.animated.bounce#liminalityMore
                        p.logo2 Liminality
                        h4.center A Case for Christian Engagement
                        p.center Read
                        p.more ↓
        #content.content.hiddenMine
            .outerContent
                .innerContent
                    .align-self-center
                        h2 Liminality and the Kingdom of Heaven
                        p I learned a new word a while back, and I’ve had somewhat of a fascination with it ever since. The word is “Liminality.” Liminality is used differently in different domains, but at the core, liminality is the notion of existing at a boundary or threshold. It’s the “in between” place or the “in between” time. It’s the overlap between “No Longer” and “Not yet”.
                        p Interspersed through this article are pictures from the subreddit&nbsp;
                            a(href="https://www.reddit.com/r/LiminalSpace/", target="_blank") r/Liminal Spaces
                            span .&nbsp;It’s a community of people online who have taken to finding pictures manifesting liminal space. Their definition of liminality as follows:
                        q A liminal space is the time between the 'what was' and the 'next.' It is a place of transition, waiting, and not knowing. Liminal space is where all transformation takes place, if we learn to wait and let it form us.

                        .align-self-center
                            img.interrupt(src="/images/TimsOKC/liminality/cars.jpeg")

                        p Liminality is a universal experience, and after the term is defined everyone can recognize a liminal space or time. Liminality is that instant in time between dreaming and waking, where the reality of your dreams quickly fades to what is true reality. Liminality is the sunset, the moment before dusk, where the world is transitioning from not fully awake to not fully asleep. Liminality is the confusion of your teenage years, learning to live as an adult but certainly no longer being a child.

                        h4 Liminality is the overlap between “No Longer” and “Not yet”.

                        p Liminality is the tension in music before a chord resolves. The Four before the One. The “A” before the “men”. Liminality is any transitional time in your life. Often, liminality can be incredibly difficult, or at the least incredibly uncomfortable. Liminality is the time spent learning to live with a new medical diagnosis, or the infinitude of time learning how to live again after a loved one has passed on.
                        p Liminal time is disorienting. It takes us out of the routine of our daily lives and puts us into a setting where we must live with a new set of rules governing us, leaving us unsure how long these new rules will be our “new normal”. At this point, some of you may recognize the most universal liminal event of our lifetimes: The COVID pandemic.
                        p Think back to the start of the pandemic, and the confusion and uncertainty surrounding it. What are the new social norms? How long will this last? How seriously do I need to take this? What does that mean for my day to day life? That confusion, the unknown, the change, and the frustration those emotions bring up are all part of a liminal experience.
                        
                        h4 At the ideal, we are able to fully embrace the reality of our present. 
                            br
                            br
                            span Instead of simply waiting, we can *dwell* in the transitional period.

                        p During these periods of transition, we are often left with a choice of how to respond to our ever changing surroundings. At the ideal, we are able to fully embrace the reality of our present. Instead of simply waiting, we can *dwell* in the transitional period. Instead of simply existing, we *cherish* our reality and *work* to interact with our new surroundings. Sometimes, this work involves moving towards a new reality.

                        .align-self-center
                            img.interrupt(src="/images/TimsOKC/liminality/laundromat.png")

                        p Despite this, the struggle of existing inside liminal space is never so ideal. We might try and refuse to accept that a new reality exists at all, choosing to ignore the present or future and reminisce on the past. By doing so we disengage with the present, often at the expense of truly engaging with those who exist in the reality we've denied. An extreme example of this is COVID deniers, so dead set against dealing with the pandemic so as to deny the reality of it and put others at risk.
                        
                        h4 By denying our new reality we disengage with the present, often at the expense of truly engaging with those who exist in the reality we’ve denied.

                        p Sometimes, we see the future ahead and spend all our efforts on pining for it. We set aside our current reality and stop engaging with the present. For myself, during the pandemic I found it much more difficult to engage with people even when given the opportunity to do so safely.
                        p The added pressure and stress of digital communication, or worrying about an ever changing set of social protocols, or whatever other excuses I could come up with kept me from engaging with people even when I had the chance.”This will all be over soon enough and *then* I can put the effort into engaging with people” I would tell myself. When in reality, all I was doing was shutting myself off from others. 
                        p While this notion of liminality is fascinating to think about in its own right, what truly made the concept of liminality fascinating to me was this: It has completely altered some of the fundamental ways I view my Christian faith.

                        .align-self-center
                            img.interrupt(src="/images/TimsOKC/liminality/house1.jpeg")

                        p In her book&nbsp;&nbsp;
                            a(href="https://smile.amazon.com/Liturgy-Ordinary-Sacred-Practices-Everyday/dp/0830846786/ref=sr_1_3", target="_blank") “Liturgy of the Ordinary: Sacred Practices in Everyday Life”
                            span ,
                            a(href="https://twitter.com/Tish_H_Warren", target="_blank") Tish Harrison Warren
                            span &nbsp;writes about the practices and routines of everyday life, and makes a case for turning everyday tasks into sacred acts, a worship, a liturgy. This may have been the first time I explicitly saw the term liminality applied to the Christian tradition. Her words describing this are better than any summary I could come up with, so I will next quote some extended sections of her chapter on waiting:
                        
                        h4 "Christ has come, and he will come again. We dwell in the meantime."

                        q Christians are people who wait. We live in liminal time, in the already and the not yet. Christ has come, and he will come again. We dwell in the meantime. … In the sacred Rhythm of our time, we embrace the tension of our reality
                            p God is at work in us and through us as we wait. Our waiting is active and purposeful. A fallow field is never dormant. As dirt sits waiting for things to be planted and grown, there is work being done invisibly and silently. Microorganisms are breeding, moving, and eating. Wind and sun and fungi and insects are dancing a delicate dance that leavens the soil, making it richer and better, readying it for planting.
                            p Robert Wilken highlights the relationship between patience and hope in his exploration of the early church father Tertullian. The singular mark of patience is not endurance or fortitude but hope. To be impatient... is to live without hope: Patience is grounded in the Resurrection. It is life oriented toward a future that is God's doing, and its sign is longing, not so much to be released from the ills of the present, but in anticipation of the good to come.
                            p Even now as we wait, God is bringing the kingdom that will one day be fully known. We can be as patient as a fallow field because we know there are gifts promised by a Giver who can be trusted.
                            p Yet our patience does not make us passive about the brokenness of the world. We are not blithely waiting to abandon this world for another. Christian faith is never an otherwordly, pie-in-the-sky sentimentality that ignores the injustice and darkness around us. We know that things are not as they should be. We also know that here-not up in the sky, but in this earthy, waiting world of peach trees and inchworms, of brass bands and didgeridoos things will be made right. Heaven will be established right here in our midst.
                            p …
                            p Christians are marked not only by patience, but also by longing. We are oriented to our future hope, yet we do not try to escape from our present reality, from the real and pressing brokenness and suffering in the world. As Smith puts it, we "will always sit somewhat uneasy in the present, haunted by the brokenness of the 'now.' The future we hope for, a future when justice rolls down like waters and righteousness like an ever flowing stream-hangs over our present and gives us a vision of what to work for in the here and now as we continue to pray, "Your kingdom come."
                            p We live in a brutal world. But in the life of Christ and the work of the Holy Spirit we glimpse redemption and participate in it. We have a telos as we wait, an ultimate purpose and aim. Because we have a telos-a kingdom where peace will reign and where God is worshiped-we can never wrap our lives in little luxuries and petty comforts and so numb ourselves to God's prophetic call for justice and wholeness in this world. Our hope for a future of shalom motivates us to press toward that reality, even in our ordinary days. Our work, our times in prayer and service, our small days lived graciously, missionally, and faithfully will bear fruit that we can't yet see.

                        .align-self-center
                            img.interrupt(src="/images/TimsOKC/liminality/church.jpeg")

                        p Warren’s beautiful prose in that chapter is a reminder of the promise of living out God’s Kingdom. And that promise of Kingdom living is a fundamental shift in how I’ve viewed my own faith. Before I read Warren’s book, I had read N.T. Wright’s book&nbsp;
                            a(href="https://smile.amazon.com/Surprised-Hope-Rethinking-Resurrection-Mission/dp/0062089978/ref=sr_1_1") “Surprised By Hope: Rethinking Heaven, the Resurrection, and the Mission of the Church”
                            span . In this book Wright spends a decent amount of time detailing the problems of an evangelical faith that emphasizes “going to Heaven when you die” as the ultimate goal. Essentially, when taken to the extreme, an overemphasis on the promise of a future Heaven leaves a faith that has no little motivation to truly engage with the present and the earth, outside of the goal of bringing others to Heaven with you.
                        p While of course it is not always the case this will lead evangelicals to act this way, but the problems of an overemphasis on Heaven leading to a disengagement with the world rang true to me, and I’d say it easily rings true for many in and outside of the faith. I’ve seen versions of this critique obliquely referenced in songs and movies, most directly in Bon Iver’s song “Heavenly Father”, whose a capella chorus leaves the listener with the ending lyrics: “Heavenly Father, is all that he offers, a safety in the end?" And to make the theoretical extreme example in Wright’s book concrete, I’ve spoken with friends who have expressed that their actions on this earth seem futile with the future of Heaven in mind.

                        .align-self-center.centerContentCore.centerContent4
                            <div CLASS="video-container"><iframe WIDTH="800" HEIGHT="300" SRC="https://www.youtube.com/embed/vAoADCSpD-8" FRAMEBORDER="0" ALLOWFULLSCREEN></iframe></div>

                        p N.T. Wright doesn’t explicitly bring in the notion of liminality into his kingdom living discussion, but the notion of Kingdom living is steeped in it, as Warren points out. Christ came to earth, was crucified and was resurrected, and that has put us all in liminal time. If you are a Christian, you have likely already accepted this new reality, and doing so left you with many questions. What are the new social norms? How long will this last? How seriously do I need to take this? What does that mean for my day to day life?

                        
                        p We are living in the in between, and it is all too easy to look at the promise of the future and to disengage with the present. We know the world is not at rights and it can sometimes take a monumental effort to recognize that we are capable of moving forward, making changes to the here and now. Perhaps our faith tradition at times has encouraged us to take our liminal present and to respond by disengaging. Instead, let us work to overcome that uncomfortableness and the feeling of “gritting our teeth because it will all be over soon”. Let us be people who truly engage with the present, who see the future glory of heaven and don’t just stop at simply saying “Lord come quickly” but who also strive to truly live out the oft repeated prayer: “Your Kingdom come, your will be done, on earth as it is in Heaven”.
                        
                        h4 Let us be people who don’t just simply say “Lord come quickly” but also strive to live out the oft repeated prayer: “Your Kingdom come, your will be done, on earth as it is in Heaven”.
                        
                        p This understanding of kingdom living has revitalized how I view my life and has challenged me to continually engage with the present and those around me, and reorients me to a center of the Christian faith -- engaging with, interacting with, and loving others, here, in the present, on this earth. Let us live out our liminal time on this earth by recognizing completely the reality of God’s kingdom, fully focused on moving towards the future of Heaven while always remembering the mission of the Church to bring the future promise of Heaven into the present.
                        p Wright’s words have been encouraging to me as I continue to focus on engaging with the present in this time before Christ’s return. And once again, these author’s words are better than my own, so let me end with a couple of sections I’ve pulled from Surprised by Hope:

                        q To hope for a better future in this world for the poor, the sick, the lonely and depressed, for the slaves, the refugees, the hungry and homeless, for the abused, the paranoid, the downtrodden and despairing, and in fact for the whole wide, wonderful, and wounded world is not something else, something extra, something tacked on to the gospel as an afterthought. And to work for that intermediate hope, the surprising hope that comes forward from God's ultimate future into God's urgent present, is not a distraction from the task of mission and evangelism in the present. It is a central, essential, vital, and life-giving part of it. Mostly, Jesus himself got a hearing from his contemporaries because of what he was doing. They saw him saving people from sickness and death, and they heard him talking about a salvation, the message for which they had longed, that would go beyond the immediate into the ultimate future. But the two were not unrelated, the present one a mere visual aid of the future one or a trick to gain people's attention. The whole point of what Jesus was up to was that he was doing, close up, in the present, what he was promising long-term, in the future. And what he was promising for that future, and doing in that present, was not saving souls for a disembodied eternity but rescuing people from the corruption and decay of the way the world presently is so they could enjoy, already in the present, that renewal of creation which is God's ultimate purpose and so they could thus become colleagues and partners in that larger project.
                            p What you do in the present-by painting, preaching, singing, sewing, praying, teaching, building hospitals, digging people wells, campaigning for justice, writing poems, caring for the needy, loving your neighbor as yourself will last into God's future. These activities are not simply ways of making the present life a little less beastly, a little more bearable, until the day when we leave it behind altogether. They are part of what we may call building for God's kingdom.
                            p You are not oiling the wheels of a machine that's about to roll over a cliff. You are not restoring a great painting that's shortly going to be thrown on the fire. You are not planting roses in a garden that's about to be dug up for a building site. You are, strange though it may seem, almost as hard to believe as the resurrection itself-accomplishing something that will become in due course part of God's new world. Every act of love, gratitude, and kindness; every work of art or music inspired by the love of God and delight in the beauty of his creation; every minute spent teaching a severely handicapped child to read or to walk; every act of care and nurture, of comfort and support, for one's fellow human beings and for that matter one's fellow nonhuman creatures; and of course every prayer, all Spirit-led teaching, every deed that spreads the gospel, builds up the church, embraces and embodies holiness rather than corruption, and makes the name of Jesus honored in the world-all of this will find its way, through the resurrecting power of God, into the new creation that God will one day make. That is the logic of the mission of God.
