mixin main
    #home.home
        #background
            #background-inner
                .align-self-center
                    p.logo Tim's
                    p.logo &nbsp;OKC
                    .top-20
                    p.catchphrase #{catchphrase}
