mixin otgw
    #otgw.otgw.parallax
        .innerOtgw
            #background
                .align-self-center
                    p Over the Garden Wall watch party.
                    p Tim's house
                    p Friday, Oct. 28th, 7:00pm ish
