mixin yt1
    .ytCore.yt
        .ytCore.yt2
            .align-self-center.centerContentCore.centerContent1
                    h1.center 🎶 A Good Place 🎶
                    h3.center The wistful comments on melancholy Youtube music videos grasping to make a human connection
