mixin yt2
    .ytCore.yt3
        .ytCore.yt4
            .align-self-center.centerContentCore.centerContent2
                p Wander onto any melancholy music video uploaded to Youtube and you're likely stumble upon a magic space in the unlikeliest of spots: The comments section.
                p Intimate stories of grief and loss are pushed to the top by that communal crowdsourcing of upvotes and downvotes.
                //p A magic space forms around melancholy music videos uploaded to Youtube: a genuinely supportive community builds in the comments section.
                p These stories are weird, overly saccharine but too heartfelt to be kitsch, and quite possibly faked to just appear to be all these things.
                p Pairing these homey layman stories with the works of art that prompted them collapses the perceived distance between creator and consumer.
                p By sharing in these stories in this place, you can see the power of the internet 
                p Following is a collection of these comments and their respective videos, presented without comment for your reflection.
                p Believe them if you'd like. Let their emotions affect you if you're compelled. Read, listen, and feel the communal catharsis that is sharing in an anonymous man's grief.
