mixin yt3
    .ytCore.yt5
        .ytCore.yt6
            .align-self-center.centerContentCore.centerContent4
                <div CLASS="video-container"><iframe WIDTH="853" HEIGHT="300" SRC="https://www.youtube.com/embed/zwHZwvTdnPI" FRAMEBORDER="0" ALLOWFULLSCREEN></iframe></div>
                p.haveWidth &nbsp;