mixin yt4
    .ytCore.yt7
        .ytCore.yt8
            .align-self-center.centerContentCore.centerContent5
                .flexParent.commentContainer
                    .profile.flexChild
                        image(src="https://yt3.ggpht.com/a/AATXAJwc-Z5WWNcoV0RYItSXmVlUQgtDuA8EU6Txcw=s48-c-k-c0xffffffff-no-rj-mo")
                        p sorufa888
                        p 3 years ago
                    .comment.flexChild
                        p Honestly, many people are saying rip Iwata. When they hear this song they think of him. I wish I thought the same thing. My dad passed away from colon cancer a year and a half ago. He never played earthbound but he LOVED the music. He always thought of his parents who passed away when he heard this song. Rip dad. I've cried because you're gone, but I smile now that I had you
                .flexParent.commentContainer
                    .profile.flexChild
                        image(src="https://yt3.ggpht.com/a/AATXAJwc-Z5WWNcoV0RYItSXmVlUQgtDuA8EU6Txcw=s48-c-k-c0xffffffff-no-rj-mo")
                        p sorufa888
                        p 3 years ago
                    .comment.flexChild
                        p Honestly, many people are saying rip Iwata. When they hear this song they think of him. I wish I thought the same thing. My dad passed away from colon cancer a year and a half ago. He never played earthbound but he LOVED the music. He always thought of his parents who passed away when he heard this song. Rip dad. I've cried because you're gone, but I smile now that I had you
