<div class="cooking-card">
    <div class="container standout cooking-card2">
        <a href="{{recipe.Url}}" target="_blank">   a(href=`` target="_blank")
            <div class="top-10"></div>
            <div class="cooking-title header 1">
                <h3 style="text-align: center;"> {{recipe.recipe.Name}} </h3>
            </div>
            <div class="top-10"></div>
            <div class="picture-holder">
                <img src=`{{recipe.Pic}}` style='width:200px;'></img>
            </div>
            <div class="top-10"></div>
            <div class="picture-holder">
                <p> {{recipe.Date}} </p>
                <p>This recipe was {{recipe.Success}}</p> 
            </div>
            <div class="top-10"></div>
        </a>
    </div>
</div>
